/**
 * Settings page
 */
.dm_smtp_info {
    font-size: 10px;
    color: #888;
}
#dm_smtp_settings_form input[type='text'],
input[type='password']{
    width: 250px;
}
textarea#dm_smtp_message{
    width: 250px;
}