/**
 * Settings page
 */
.ddg_smtp_info {
    font-size: 10px;
    color: #888;
}
#ddg_smtp_settings_form input[type='text'],
input[type='password']{
    width: 250px;
}
textarea#ddg_smtp_message{
    width: 250px;
}